.main-content-home{
    margin-top: 30px;
    /* color: white; */
}
.status-makan{
    background-color: darkcyan;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.status-makan hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0 20px 0 20px;
}

.status-makan h4{
    margin-bottom: 0px;
}

meter{
    width: 80%;
    margin: 20px 0px 10px 0px;
}

#option-ingin-makan{
    padding-left: 0;
}

.status-available{
    padding: 10px 40px;
    min-width: 100px;
}

#lagi-ingin-makan{
    margin: auto;
}

.todo-list{
    background-color: darkcyan;
    height: 150px;
    box-shadow: 20px grey;
}

.text-content{
    color: white;
}

.main-content-home h5{
    padding-top: 10px;
    padding-left: 10px;
}

.second-content-home{
    padding-top: 15px;
}
.teman-sekitar{
    background-color: darkcyan;
    color: white;
    height: 300px;
}

.makan-rame{
    background-color: darkcyan;
    color: white;
    height: 300px;
}

.petunjuk{
    text-align: right;
    padding: 5px 10px;
}