.main-content-home{
    margin-top: 30px;
    /* color: white; */
}
.status-makan{
    background-color: darkcyan;
    height: 150px;
    text-align: center;
}

.todo-list{
    background-color: darkcyan;
    height: 150px;
    box-shadow: 20px grey;
}

.text-content{
    color: white;
}

.main-content-home h5{
    padding-top: 10px;
    padding-left: 10px;
}

.second-content-home{
    padding-top: 15px;
}
.teman-sekitar{
    background-color: darkcyan;
    color: white;
    height: 300px;
}

.makan-rame{
    background-color: darkcyan;
    color: white;
    height: 300px;
}

.petunjuk{
    text-align: right;
    padding: 5px 10px;
}