.post{
    background-color: darkcyan;
    margin-top: 10px;
    color: white;
    padding-bottom: 10px;s
}

.post-box{
    padding: 10px;
    margin : 10px;
    border: solid 2px #ccc;
}

.post-box span{
    display: block;
}

.post-box p{
    text-align: justify;
    padding-right: 10px;
}

.post hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 10px 20px 10px 20px;
}

.post-text{
    margin-top: 10px;
    /* max-width: 700px; */
}


.post-attribute-button{
    padding-bottom: 10px;
}

.input-review{
    display: block;
    width: 100%;
    padding: 10px 20px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 0px;
    /* margin: 10px; */
}

.btn {
    width: 100%;
}

.gambar-post{
    width: 100%;
    /* max-width: 100%; */
    padding: 5px 10px 5px 0;
}

.button-makan-apa{
    width: 100%;
}

.button-makan-apa-tengah{
    padding: 0 !important;
}

.button-makan-apa-left{
    padding-right: 0 !important;
}

.button-makan-apa-right{
    padding-left: 0 !important;
}

@media (max-width: 575px) {
    .button-makan-apa-tengah{
        padding: 0 15px !important;
    }
    
    .button-makan-apa-left{
        padding-right: 15px !important;
    }
    
    .button-makan-apa-right{
        padding-left: 15px !important;
    }
}
